<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/style.css")
        title learn css flexbox
    body
        h1 learn css flexbox
        hr
        .flexrow
            div
                h2 使用flex控制份数
                .flexcard1.card
                    .left L 5
                    .mid M 120px
                    .right R 8
            div
                h2 使用flex控制份数            
                .flexcard2.card
                    .left L 3
                    .mid M 100px
                    .right R 5
        h2 flex-grow 控制膨胀分配
        .flexcard3.card
            .left L 400px
            .mid M 300px
            .right R 200px(flex-grow:0)
        h2 flex-shrink 控制缩减分配
        .flexcard4.card
            .left L 400px(flex-shrink:0)
            .mid M 300px
            .right R 200px
        h2 顺序 flex-direction: column-reverse / row-reverse
        .flexrow
            div
                h2 row-reverse
                .flexcard5.card
                    .left L 5
                    .mid M 120px
                    .right R 8
            div
                h2 column-reverse            
                .flexcard6.card
                    .left L 3
                    .mid M 100px
                    .right R 5
        h2 物件排列
        .items
            .item 1
            .item 2
            .item 3
            .item 4
            .item 5
            .item 6
            .item 7
            .item 8
            .item 9
            .item 10
            .item 11
            .item 12
            .item 13
            .item 14
            .item 15
            .item 16
            .item 17
            .item 18
            .item 19
            .item 20
            .item 21
            .item 22
            .item 23
            .item 24
            .item 25
            .item 26
            .item 27
            .item 28
            .item 29
            .item 30
            .mainAxis 主轴（justify）
            .subAxis 副轴（align）
        h2 align-self